.card-head {
  font-size: 4vh;
  height: 6vh;
}
.name {
  padding-top: 5px;
  text-align: left;
  padding-left: 2rem;
  float: left;
  width: 70%;
  cursor: pointer;
  filter: brightness(100%);
  transition: 0.5s;
}

.name:hover {
  transition: 0.5s;
  filter: brightness(80%);
}

.button {
  padding-top: 5px;
  float: right;
  align-items: center;
  width: 20%;
  cursor: pointer;
  filter: brightness(100%);
  transition: 0.5s;
}

.button:hover {
  transition: 0.5s;
  filter: brightness(80%);
}

.main {
  height: 12vh;
  pointer-events: none;
}
.current {
  padding-top: 10px;
  text-align: right;
  float: left;
  font-size: 6vh;
  width: 60%;
}
.status {
  text-align: right;
  float: right;
  width: 40%;
  vertical-align: middle;
  height: 70%
}
.status, .current {
  display: inline-block;
  vertical-align: middle;
}
#img {
  padding-right: 20%;
}
#desc {
  width: 100%;
  float: right;
}
.capitalize {
  text-transform:capitalize;
}

.min-max{
  height: 9vh;
  align-items: center;
  font-size: 2vh;
}

.container {
  overflow: hidden;
  align-items: center;
  font-size: 2vh;
}
.contain-left {
  width: 50%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contain-right {
  width: 50%;
  float: right;
  display: flex;
  flex-direction: column;
}
.stat {
  font-size: 4vh;
}

/* LOADING ANIMATION */

.dot {
  width: 0.5rem;
  height: 0.5rem;
  background: var(--text-color);
  display: inline-block;
  border-radius: 50%;
  right: 0px;
  bottom: 0px;
  margin: 0px 2.5px;
  position: relative;
  animation: jump 1s infinite;
}
.dot:nth-child(1) {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

.dot:nth-child(2) {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.dot:nth-child(3) {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

@keyframes jump {
  0%   {bottom: 0px;}
  20%  {bottom: 5px;}
  40%  {bottom: 0px;}
}